extends ../layouts/layout

block content
  #content.container
    - var action = '/surveys'
    if (!survey.isNew)
      - action += '/'+survey.id
  
    if (typeof errors !== 'undefined')
      .fade.in.alert.alert-block.alert-error
        a.close(data-dismiss="alert", href="javascript:void(0)") x
        ul
          each error in errors
            li= error.type
    if ((typeof err !== 'undefined') && (typeof err.err !== 'undefined'))
      .fade.in.alert.alert-block.alert-error
        a.close(data-dismiss="alert", href="javascript:void(0)") x
        ul        
          li= "Duplicate Question !"
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h1
                | New Survey
                  
            form.form-horizontal(method="post", action=action)
              if (!survey.isNew)
                input(type="hidden", name="_method", value="PUT")            
              .control-group
                label.control-label.required About
                .controls
                  input.span4(type='text', name="survey[about]", value=survey.about) 
              .control-group
                label.control-label.required Question
                .controls
                  input.span4(type='text', name="survey[question]", value=survey.question)                   
              .control-group
                label.control-label.required Type
                .controls
                  select(name="survey[type]")
                    option(value="") Select
                    option(value="multi", selected="#{survey.type}"=="multi") Multichoice
                    option(value="unique", selected="#{survey.type}"=="unique") Unique choice                        
              .control-group
                label.control-label               
                  h4 Choices    
              #choices 
                .control-group
                  label.control-label.required 1
                  .controls
                    input(type='text', name="survey[choices][0][_id]", value=survey.choices[0]._id)
                .control-group
                  label.control-label.required 2
                  .controls
                    input(type='text', name="survey[choices][1][_id]", value=survey.choices[1]._id)  
                
                - var i = 0                          
                each choice in survey.choices
                  if (i>1)
                    .control-group
                      label.control-label.required #{i+1}
                      .controls
                        input(type='text', name="survey[choices][#{i}][_id]", value=choice._id)  
                        a.btn.remove_choice(href='#') x       
                  - i++                  
              input#hidden_input(type='hidden', value=i, name="nothing")    
              .control-group
                .controls
                  button.btn(id="add_choice") add                   
                                 
                  
                                                
              .control-group
                .controls
                  button.btn.btn-primary(type='submit') Validate 
                  &nbsp;       
                  a.btn(href='/') Cancel              
                    
   
