extends ../layouts/layout

block content
  #content.container
    - var action = '/surveys'
    if (!survey.isNew)
      - action += '/'+survey.id
  
    if (typeof errors !== 'undefined')
      .fade.in.alert.alert-block.alert-error
        a.close(data-dismiss="alert", href="javascript:void(0)") x
        ul
          each error in errors
            li= error.type
    if ((typeof err !== 'undefined') && (typeof err.err !== 'undefined'))
      .fade.in.alert.alert-block.alert-error
        a.close(data-dismiss="alert", href="javascript:void(0)") x
        ul        
          li= "Duplicate Question !"
    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h3
                | New Survey
                  
            form.form-horizontal#survey-form(method="post", action=action)
              if (!survey.isNew)
                input(type="hidden", name="_method", value="PUT")            
              .control-group.about_cg
                label.control-label About
                .controls
                  input.span4#about(type='text', name="about", value=survey.about) 
              .control-group.question_cg
                label.control-label Question
                .controls
                  input.span4#question(type='text', name="question", value=survey.question)                   
              .control-group.type_cg
                label.control-label Type
                .controls
                  select#type(name="type")
                    option(value="") Select
                    option(value="multi", selected="#{survey.type}"=="multi") Multichoice
                    option(value="unique", selected="#{survey.type}"=="unique") Unique choice                        
              .control-group
                label.control-label               
                  h4 Choices    
              #choices 
                .control-group
                  label.control-label 
                    span.label.label-info 1
                      
                  .controls
                    input(type='text', name="choices[0][_id]", value=survey.choices[0]._id)
                .control-group
                  label.control-label 
                    span.label.label-info 2
                  .controls
                    input(type='text', name="choices[1][_id]", value=survey.choices[1]._id)  
                
                - var i = 0                          
                each choice in survey.choices
                  if (i>1)
                    .control-group
                      label.control-label #{i+1}
                      .controls
                        input(type='text', name="choices[#{i}][_id]", value=choice._id)  
                        a.btn.remove_choice(href='#') x       
                  - i++                  
              input#hidden_input(type='hidden', value=i, name="nothing")    
              .control-group
                .controls
                  button.btn(id="add_choice") add                                               
              .control-group
                .controls.controls-submit
                  button.btn.btn-info(type='submit') Validate 
                  &nbsp;       
                  a.btn.cancel(href='/') Cancel              
                    
block custom_page_script
    script  
      $(document).ready(function () {
          var i =  parseInt($("#hidden_input").val()) 
          $("#add_choice").click(function(e) {
            e.preventDefault()    
            $('#choices').append('<div class="control-group"><label class="control-label"><span class="label label-info">'+(i+1)+'</span></label><div class="controls"><input type="text" value="" name="choices['+i+'][_id]"> <a class="btn remove_choice" href="#"> x </a> </div></div> ');
            i++
          })
          
          $(".remove_choice").live("click", function(e) {
              e.preventDefault()
              $(this).closest('div .control-group').remove()
              $("#choices input:text").each(function(index) {
                  $(this).attr("name", "choices["+index+"][_id]")
                  i = index+1
                  $(this).closest('div').prev().html("<span class='label label-info'>"+i+"</span>")
              })        
          })
          
        $(":input").focusin(function() {   
          $(this).closest('div .control-group').removeClass("error")
          $(".alert-error").remove()
          $(".help-inline").remove()  
        })
        $('#survey-form').submit(function (e) {
            e.preventDefault()            
            
            $(".alert-error").remove()  
            $(".help-inline").remove()                
            $(".controls-submit").append('<div class="ajax-loader"></div>')    
            var choices = {} 
            $("#choices input:text").each(function(index) {
                choices[index] = {_id: $(this).val()}
                if($(this).val() == ""){
                  $(this).closest('div .control-group').addClass("error")
                }
            })
            $.post($(this).attr("action"),{about: $("#about").val(), question: $("#question").val(), type: $("#type").val(), choices: choices},
                    function(data) { // success
                      if(data.html === "Ok") $(location).attr('href',"/surveys/"+data.survey_id)
                      else{
                        if(data.html.name=="MongoError"){ 
                                              $(".question_cg").addClass("error")
                                              $(".question_cg").find(".controls").append("<span class='help-inline'>Duplicate question</span>")                                                                            
                              }
                        $.each(data.html,function(i,el)
                        {
                          if(el != null){
                             $("."+el.param+"_cg").addClass("error")
                             $("."+el.param+"_cg").find(".controls").append("<span class='help-inline'>"+el.msg+"</span>")                             
                           }
                        })
                        
                        $(".ajax-loader").remove()
                        $(".navbar").append('<div class="alert alert-error"><button data-dismiss="alert" class="close">×</button>Please Correct Errors.</div>')
                      } 
                }, 'json')
        })
      })
