extends ../layouts/layout

block content
  #content.container
    - var action = '/surveys'
    if (!survey.isNew)
      - action += '/'+survey.id

    .row
        .span8.offset2
          .box.clearfix
            .page-header
              h4
                | Create a new survey and invite your friends :
                  
            form.form-horizontal#survey-form(method="post", action=action)
              if (!survey.isNew)
                input(type="hidden", id="_method", name="_method", value="PUT")            
              .control-group.question_cg
                label.control-label Question
                .controls
                  textarea.span4.question-box#question(name="question") #{survey.question}
              .control-group.type_cg
                label.control-label Type
                .controls
                  select#type(name="type")
                    option(value="") Select
                    option(value="multi", selected="#{survey.type}"=="multi") Multichoice
                    option(value="unique", selected="#{survey.type}"=="unique") Unique choice                        
              .control-group
                label.control-label               
                  h4 Choices    
              #choices 
                .control-group
                  label.control-label 
                    span.label.label-info 1
                      
                  .controls
                    input(type='text', name="choices[0][_id]", value=survey.choices[0]._id)
                .control-group
                  label.control-label 
                    span.label.label-info 2
                  .controls
                    input(type='text', name="choices[1][_id]", value=survey.choices[1]._id)  
                
                - var i = 0                          
                each choice in survey.choices
                  if (i>1)
                    .control-group
                    
                      label.control-label
                        span.label.label-info #{i+1}
                      .controls
                        input(type='text', name="choices[#{i}][_id]", value=choice._id)  
                        a.btn.remove_choice(href='#') x       
                  - i++                  
              input#hidden_input(type='hidden', value=i, name="nothing")    
              .control-group
                .controls
                  button.btn(id="add_choice") add                                               
              .control-group
                .controls.controls-submit
                  button.btn.btn-info(type='submit') Validate 
                  &nbsp;       
                  a.btn.cancel(href='/') Cancel    
 

