extends ../layouts/default

block content
  - var action = '/surveys'
  if (!survey.isNew)
    - action += '/'+survey.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  form.form-horizontal(method="post", action=action)
    if (!survey.isNew)
      input(type="hidden", name="_method", value="PUT")
    
    .control-group
      label.control-label(for='question') Question
      .controls
        input#title.input-xlarge(type='text', name="survey[question]", value=survey.question)
      label.control-label(for='type') Type
      .controls
        select(name="survey[type]")
          option(value="") Select
          option(value="multi", selected="#{survey.type}"=="multi") Multichoice
          option(value="unique", selected="#{survey.type}"=="unique") Unique choice
        
    div#choices    
      - var i = 0    
        label.control-label(for='Choices') Choices  
        p
          input(type='text', name="survey[choices][0][_id]", value=survey.choices[0]._id) 
        p
          input(type='text', name="survey[choices][1][_id]", value=survey.choices[1]._id) 
        each choice in survey.choices
          if (i>1)
            p
              input(type='text', name="survey[choices][#{i}][_id]", value=choice._id)  
              a.btn.remove_choice(href='#') -       
          - i++
      input#hidden_input(type='hidden', value=i, name="nothing")     
    a.btn(href='#', title="add choice", id="add_choice") +      
    .form-actions
      button.btn.btn-primary(type='submit') Save changes
      &nbsp;
      a.btn(href='/surveys', title="cancel") Cancel
