extends ../layouts/layout

block content
  #content.container.center
    .homepage
      h1 Find people's opinions
      form.form-search(method="get", action='/search')
        input.span4(type="text", name="q")
        button.btn(type='submit') Search        
    h3 &nbsp;
    
    p#live
      each survey in rest   
          span     
            a(href="/surveys/#{survey._id}") #{survey.question} 
            | - 
    p  #{surveycount} surveys by #{usercount} users      
  include ../layouts/footer

block custom_page_script
    script
      $(function() {
        LiveSurveys.onReady()
      })
      var index = 0
      var LiveSurveys = {
      INTERVAL_SHOW_NEXT: 3 * 1000,
      INTERVAL_UPDATE: 3 * 60 * 1000,
      INTERVAL_FADE: 1000,
      surveys: [#{surveys}],    

      showNext: function() {
        if (LiveSurveys.surveys.length == 0) { return }
        var $list = $('#live')
        if(index > 14) index = 0 
        var survey = LiveSurveys.surveys[index]  
        index+=1
        var newItem = $('<span> <a href="/surveys/'+survey._id+'"> '+survey.question+' </a> - </span>')
        var oldItem = $('#live span:first')
        oldItem.fadeOut(LiveSurveys.INTERVAL_FADE, function() {
          oldItem.remove()
          newItem.hide()
          $list.append(newItem)
          newItem.css("display", "inline"); 
          newItem.fadeIn(LiveSurveys.INTERVAL_FADE)
          })
        },
        onReady: function() {
            LiveSurveys.showNextInterval = setInterval(LiveSurveys.showNext, LiveSurveys.INTERVAL_SHOW_NEXT)
        }
      } 
      