extends ../layouts/layout 

block content
  #content.container
    p.lead
      h4= survey.question
    p
      | #{formatDate(survey.createdAt, "%b %d, %Y at %I:%M %p")} - by 
      a(href="/user/"+survey.user.uid)=survey.user.uid  
    .row
      .span4    
        small
        | #{survey.tp} votes
        div#donut.graph
      .span8    
        small
        | votes evolution 
        div#graph.graph             
    .btn-group  
      button.btn.btn-small.vote
        i.icon-thumbs-up
        |  Vote
      button.btn.btn-small.share  Share   
      if (flaged) 
        button.btn.btn-small.btn-info.disabled 
          i.icon-flag   
          |  Flaged !        
      else         
        button.btn.btn-small.flag 
          i.icon-flag   
          |  Flag

    .popover-inner.votepop(style="display:none")        
      button.close(type="button") ×
      h4.popover-title Vote   
      div.popover-content  
        if (req.isAuthenticated())      
          form#vote_form(method="post", action="/surveys/#{survey._id}/choice")          
            each choice in survey.choices
              if (survey.type == "unique")
                div
                  label.radio #{choice._id}
                    input(type="radio", value="#{choice._id}", name="choice", checked="#{userChoice}"==choice._id)   #{choice._id}
              else
                div
                  - var val = multiUserChoice != null ? multiUserChoice.id(choice._id).val : "" 
                    select.input-mini(name="#{choice._id}")
                      option(value="0", selected="#{val}"==0) 0
                      option(value="1", selected="#{val}"==1) 1
                      option(value="2", selected="#{val}"==2) 2
                      option(value="3", selected="#{val}"==3) 3
                      option(value="4", selected="#{val}"==4) 4
                      option(value="5", selected="#{val}"==5) 5
                  &nbsp;      
                  span #{choice._id}                      
            button.btn.btn-info.btn-small(type='submit') Submit      
        else           
          a(href="/login?back=#{req.url}") Login
          |  Or     
          a(href="/signup?back=#{req.url}") Sign up
          |  Now !
    .popover-inner.sharepop(style="display:none")        
      button.close(type="button") ×
      h4.popover-title Share   
      div.popover-content  
        br
        a.facebook(href='/auth/facebook', onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.opinionwall.com/surveys/#{survey._id}','','scrollbars=yes,width=560,height=328'); return false;", href="#" )                                 
        a.twitter(href='http://twitter.com/share')
        a.google(href='https://plus.google.com/share?url=http://www.opinionwall.com/surveys/#{survey._id}', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" )
        br
        br 
        
    .popover-inner.flagpop(style="display:none")        
      button.close(type="button") ×
      h4.popover-title Flag   
      div.popover-content  
        if (req.isAuthenticated())      
          button.btn.btn-info.btn-small.flagbutton Flag as inappropriate
        else           
          a(href="/login?back=#{req.url}") Login
          |  Or     
          a(href="/signup?back=#{req.url}") Sign up
          |  Now !                
    input(type="hidden", id="survey_id", name="id", value="#{survey._id}")     
    br
    br  
    div#disqus_thread.box.clearfix

  
block custom_page_script
  script(type='text/javascript', src='/js/raphael-min.js')
  script(type='text/javascript', src='/js/morris.min.js')  
  script    
    var graph = Morris.Line({
      element: 'graph',
      data: !{graph_data},
      xkey: 'period',
      ykeys:  !{xkeys},
      labels: !{xkeys}
    })
    Morris.Donut({
      element: 'donut',
      data: !{donut_data},
      formatter: function (y) { return y + "%" }
    })
    $(".share").click(function(){         
        $(".popover-inner").hide()
        $(".sharepop").fadeIn()        
    })    
    $(".flagbutton").click(function(){  
        var url = "/flag/"+$("#survey_id").val()
        $.getJSON(url,{},
        function(data) {
          $(".flagpop").fadeOut()
          $(".flag").addClass('btn-info disabled ')
          $(".flag").attr("disabled", "disabled")
          $(".flag").append("ed !")
        }) 
    })    
    $(".vote").click(function(){  
        $(".popover-inner").hide()    
        $(".votepop").fadeIn()        
    })
    $(".flag").click(function(){  
        $(".popover-inner").hide()    
        $(".flagpop").fadeIn()        
    })    
    $(".close").click(function(e){    
        e.preventDefault()
        $(this).closest('div').fadeOut()
    })    

    $('#vote_form').submit(function (e) {
        e.preventDefault()
        $(this).append('<div class="ajax-loader"></div>')
        var url = "/surveys/"+$("#survey_id").val()+"/choice"
        var fields = $("#vote_form").serializeArray()
        $.post(url,{data: fields},
        function(data){
           $(".ajax-loader").remove()
           if(data.html === "Ok") {             
             $("#vote_form").append(' Thank you for your Opinion !<br /> refreshing the page ...')
             location.reload()
           }      
        }, 'json')
    })
    $('.twitter').click(function(event) {
        var width  = 575,
            height = 400,
            left   = ($(window).width()  - width)  / 2,
            top    = ($(window).height() - height) / 2,
            url    = this.href,
            opts   = 'status=1' +
                     ',width='  + width  +
                     ',height=' + height +
                     ',top='    + top    +
                     ',left='   + left;
        
        window.open(url, 'twitter', opts)     
        return false        
      })
      
  script(type='text/javascript', src='/js/survey_show.js')
  

          