extends ../layouts/layout 

block content
  #content.container
    p.lead
      h4= survey.question
    p
      | #{formatDate(survey.createdAt, "%b %d, %Y at %I:%M %p")} By : 
      a(href="/users/"+survey.user._id)=survey.user.name  
    .row
      .span4    
        div#donut.graph
      .span8    
        div#graph.graph             
    .btn-group  
      button.btn.btn-small.vote
        i.icon-thumbs-up
      button.btn.btn-small Share            
      button.btn.btn-small.flag 
        i.icon-flag   
 
           
    .popover-inner.votepop(style="display:none")        
      button.close(type="button") ×
      h4.popover-title Vote   
      div.popover-content        
        Vote here 
    .popover-inner.flagpop(style="display:none")        
      button.close(type="button") ×
      h4.popover-title Flag   
      div.popover-content  
        br
        a.facebook(href='/auth/facebook', onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwrapbootstrap.com%2F&amp;t=WrapBootstrap:%20Themes%20for%20Twitter%20Bootstrap','','scrollbars=yes,width=660,height=328'); return false;", href="#" )                                 
        a.twitter(href='/auth/twitter')                
        a.google(href='/auth/google')
        br
        br 
        
    input(type="hidden", id="survey_id", name="id", value="#{survey._id}")               
    
      
       
         
      div#disqus_thread

  
block custom_page_script
  script(type='text/javascript', src='/js/raphael-min.js')
  script(type='text/javascript', src='/js/morris.min.js')  
  script    
    var graph = Morris.Line({
      element: 'graph',
      data: !{graph_data},
      xkey: 'period',
      ykeys:  !{xkeys},
      labels: !{xkeys}
    })
    Morris.Donut({
      element: 'donut',
      data: !{donut_data},
    })
    $(".flag").click(function(){         
        $(".popover-inner").hide()
        $(".flagpop").fadeIn()
        //var url = "/flag/"+$("#survey_id").val()
        //$.getJSON(url,{},
        //function(data) {
          //alert(data)
        //})
    })
    $(".vote").click(function(){  
        $(".popover-inner").hide()    
        $(".votepop").fadeIn()        
    })
    $(".close").click(function(e){    
        e.preventDefault()
        $(this).closest('div').fadeOut()  
        
        //var url = "/flag/"+$("#survey_id").val()
        //$.getJSON(url,{},
        //function(data) {
          //alert(data)
        //})
    })    
    
    /*$(".vote").click(function(){
        var url = "/surveys/"+$("#survey_id").val()+"/choice"
        var fields = $("#vote_form").serializeArray()
        var d = [{"period":"2012-10","Audi":12,"Mercedes":33}]
        $.post(url,{data: fields},
        function(res){
           //  alert(res.html)
           //  graph.setData(d)         
        }, 'json')
    })
    */
    // share tweeter
    //!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    // share google 
    //(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();
    // share fk 
    //(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=257956334321936";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
  script(type='text/javascript', src='unavailabe/js/survey_show.js')

          