extends ../layouts/default

block main
  

block content
  h1= survey.question
  form(method="post", action="/surveys/#{survey._id}/choice")
    each choice in survey.choices
      p       
        input(type="radio", value="#{choice._id}", name="survey[choice]", checked="#{userChoice}"==choice._id)
        span= choice.choice +"  ---- "+ choice.counter       
    input(type="submit", value="Submit")
      
  p.author
    span Author :&nbsp;
    a(href="/users/"+survey.user._id)=survey.user.name
  .date= formatDate(survey.createdAt, "%b %d, %Y at %I:%M %p")

  p
    br
    form.center.form-inline.confirm(action="/surveys/"+survey.id, method="post")
      a.btn(href='/surveys/'+survey._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete
  div#disqus_thread

  script(type='text/javascript', src='/js/survey_show.js')

          